.App {
  text-align: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-gap: 10px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .card:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  }
}

.card img {
  width: 100%;
  height: auto;
}

@keyframes flashGreen {
  0%, 100% { box-shadow: 0 0 10px green; }
  50% { box-shadow: 0 0 20px green; }
}

@keyframes flashRed {
  0%, 100% { box-shadow: 0 0 10px red; }
  50% { box-shadow: 0 0 20px red; }
}

.flash-green {
  animation: flashGreen 1s;
}

.flash-red {
  animation: flashRed 1s;
}
